@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authore.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.CategoryName)
            </td>
            <td>
                <img src="~/uploads/@item.ImageSrc" style="width:100px; height:100px; border:1px black solid;">
            </td>
            <td>
                <a asp-action="Update" class="btn btn-secondary" asp-route-id="@item.Id">Edit</a>

                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>

                
            </td>
        </tr>
}
    </tbody>
</table>
